@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@400;700&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    font-family: 'Roboto';
    font-size: 18px;
    text-decoration: none;
    color: #0D0D0D;
}

header {
    background-color: #242528;
    display: flex;
}

header img {
    padding: 58px 63px;
}

.navigation {
    display: flex;
    align-items: center;
    margin-right: 57px;
    text-align: right;
    margin-left: auto;
}

.navigation-item-main {
    color: #FFFFFF;
    border-bottom: 4px solid #2A5FE7;
    margin-right: 32px;
}

.navigation-items {
    color: #AFAFAF;
}

.navigation-items:nth-child(3) {
    margin-left: 24px;
    margin-right: 24px;
}

.navigation-button {
    padding: 6px 29px 9px 30px;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    color: #FFFFFF;
    margin-left: 20px;
}

.navigation-button:hover {
    background-color: white;
    color: black;
}

.navigation-button:active, .navigation-items:active, .navigation-item-main:active {
    transform: translateY(3px);
}

.section-one {
    margin: 124px 335px 99px 335px;
    text-align: center;
}

.section-one-main-text {
    font-family: 'Montserrat';
    font-size: 48px;    
}

.section-one-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    color: #777777;
    margin-top: 25px;
    margin-bottom: 41px;
}

.section-one-button {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 0 auto;
    font-size: 20px;
    background: #2A5FE7;
    border-radius: 30px;    
    color: #FFFFFF;
    border: none;
    padding-top: 7px;
    padding-bottom: 8px;
    width: 220px;
    height: 47px;
}

.section-one-button:hover, .section-three-button:hover {
    cursor: pointer;
    background-color: #0846e4;
}

.section-one-button:active, .section-three-button:active {
    transform: translateY(3px);
}

.section-one-button-icon {
    padding-right: 25px;
    padding-left: 28px;
}

.section-two {
    background-color: #F4F7FE;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
}

.section-two-content p {
    position: relative;
    text-align: center;
    padding: 52px 315px;
    z-index: 2;
}

.section-two-content-vector {
    position: absolute;
    height: 354px;
    width: 568px;
    left: 872px;
    top: 461px;
    z-index: 1;
}

.section-three {
    position: relative;
    background-color: #3B4C5A;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 73px 221px 134px 221px;
    z-index: 3;
}

.section-three-first-img {
    padding-top: 12px;
    padding-bottom: 12px;
}

.section-three-main-text {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    padding-top: 25px;
    padding-bottom: 20px;
}

.section-three-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #DEDEDE;
    padding-bottom: 30px;
}

.section-three-button {
    width: 204px;
    height: 40px;  
    background: #2A5FE7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    border: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #FCFCFC;
}

footer {
    background-color: #242528;
}


.footer-navigation {
    display: flex;
    padding-left: 520px;
    padding-right: 483px;
    align-items: center;
    text-align: center;
}

.footer-navigation a {
    padding-top: 27px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    padding-bottom: 62px;
}

.footer-copyright {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #3A3B3E;
    padding-top: 36px;
    padding-bottom: 47px;
}

.footer-navigation a:nth-child(1) {
    padding-right: 32px;
}

.footer-navigation a:nth-child(3) {
    padding-right: 24px;
    padding-left: 24px;
}

hr {
    background-color: rgba(255, 255, 255, 0.1);
    height: 2px;
    border: none;
    width: 1320px;
    margin: 0 auto;
}

.footer-navigation a:hover {
    color: #AFAFAF;
}

.footer-navigation a:active {
    transform: translateY(2px);
}
