@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@400;700&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    font-family: 'Roboto';
    font-size: 18px;
    text-decoration: none;
    color: #0D0D0D;
}

header {
    background-color: #242528;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
}

header img {
    display: block;
}

.navigation ul {
    align-items: center;
    display: flex;
    margin-right: 1.5rem;
    justify-content: flex-end;
    flex-wrap: wrap;
}



.navigation {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.navigation-item-main {
    color: #FFFFFF;
    border-bottom: 4px solid #2A5FE7;
    margin-right: 32px;
}

.navigation-items {
    color: #AFAFAF;
}

.navigation-items:nth-child(3) {
    margin-left: 24px;
    margin-right: 24px;
}

.navigation ul li a {
    color: #FFF;
    display: block;
    padding: 0 0.25rem; 
}

.navigation ul li {
    margin: 0 0.5rem; 
    list-style-type: none;
}

@media (max-width: 928px) {
    .navigation ul {
        margin-right: 0.5rem;
    }
    .navigation-item-main {
        margin-right: 0.5rem;
    }
}


.footer-navigation ul {
    display: flex;
    margin-right: 1.5rem;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
}

.section-three ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 360px;
}

.section-three ul li {
    list-style-type: none;
}

.footer-navigation ul li {
    list-style-type: none;
    margin: 1rem 0.5rem; 
}


.footer-navigation ul li a {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.navigation-button {
    padding: 0.25rem 0.5rem;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    color: #FFFFFF;
}

.navigation-button:hover {
    background-color: white;
    color: black;
}

.navigation-button:active, .navigation-items:active, .navigation-item-main:active {
    transform: translateY(3px);
}

.section-one {
    padding: 124px 0px 99px 0px;
    text-align: center;
}

.section-one-main-text {
    font-family: 'Montserrat';
    font-size: 48px;    
}

.section-one-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    color: #777777;
    margin-top: 25px;
    margin-bottom: 41px;
}

.section-one-button {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 0 auto;
    font-size: 20px;
    background: #2A5FE7;
    border-radius: 30px;    
    color: #FFFFFF;
    border: none;
    padding-top: 7px;
    padding-bottom: 8px;
    width: 220px;
    height: 47px;
}

.section-one-button:hover, .section-three-button:hover {
    cursor: pointer;
    background-color: #0846e4;
}

.section-one-button:active, .section-three-button:active {
    transform: translateY(3px);
}

.section-one-button span {
    color: #fff;
}

.section-one-button-icon {
    padding-right: 25px;
    padding-left: 28px;
}

.section-two {
    background-image: url('./img/vector.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-color: #F4F7FE;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
}

.section-two-content p {
    position: relative;
    text-align: center;
    padding: 52px 0px;
    z-index: 2;
}



.section-three {
    background-color: #3B4C5A;
    width: 100%;
    align-items: center;
    text-align: center;
}

.section-three-first-img {
    padding-top: 12px;
    padding-bottom: 12px;
}

.section-three-main-text {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    padding-top: 24px;
    padding-bottom: 20px;
}

.section-three-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #DEDEDE;
    padding-bottom: 30px;
    width: 322px;
}

.section-three-button {
    width: 204px;
    height: 40px;  
    background: #2A5FE7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    border: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #FCFCFC;
}

@media (max-width: 1000px) {
    .section-three ul {
        display: inline;
    }
    .section-three-text {
        margin: 0 auto;
    }
    .section-three ul li {
        padding-bottom: 1.5rem;
    }
    .section-three-main-text {
        padding-top: 18px;
    }
}

footer {
    background-color: #242528;
}

.footer-navigation {
    display: flex;
}

.footer-copyright {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #3A3B3E;
    padding-top: 36px;
    padding-bottom: 47px;
}

.footer-navigation a:nth-child(3) {
    padding-right: 24px;
    padding-left: 24px;
}

.footer-navigation {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    margin: 0 auto;
}

.footer-navigation a:hover {
    color: #AFAFAF;
}

.footer-navigation a:active {
    transform: translateY(2px);
}

@media (max-width: 590px) {
    .footer-navigation ul {
        display: inline;
    }
    .footer-navigation ul li {
    text-align: center;
    justify-content: center;
    }
}

@media (max-width: 646px) {
    .section-one-main-text {
        font-size: 38px;
    }
    .section-one-text {
        font-size: 16px;
    }
}

@media (max-width: 570px) {
    .navigation ul {
        justify-content: center;
    }
}